<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <div class="page-header">
    <h1>宮井　千尋</h1>
    <p class="lead">マークアップ、UI実装がメインのフロントエンド</p>
  </div>
  <div class="container">
    <div class="content">
      <h3 class="headline">ソーシャルゲームの新規・運用の開発</h3>
      <div class="row">
        <div class="col-md-7">
          <p>新規立ち上げから携わり、クエスト、デッキ、ユーザーページなどリリース時のアニメーション以外の全ページのマークアップ、UI実装を担当。</p>
        </div>
        <div class="col-md-5 capture-frame">
          <img src="gf-deck.png" height="200">
          <img src="gf-mypage.png" height="200">
          <img src="gf-quest.png" height="200">
        </div>
      </div>
    </div>
    <div class="content">
      <h3 class="headline">紳士服のECサイト・顧客管理ツールのUI実装</h3>
      <div class="row">
        <div class="col-md-7">
          <p>顧客管理ツールの実装では、マークアップのほか、サムネイルのカルーセル表示、FileAPIによるファイル選択機能を実装。</p>
          <p>
            <a href="http://htmlpreview.github.io/?https://github.com/miyai-chihiro/fileupload/blob/master/dist/index.html" target="_blank">fileAPIの実装サンプル</a><br>
            <span class="note">＊デザインはすべてダミー</span>
          </p>
        </div>
        <div class="col-md-5 capture-frame">
          <img src="cap-fileapi.png" width="200">
        </div>
      </div>
    </div>
    <div class="content">
      <h3 class="headline">ゲームコミュティサービスの開発</h3>
      <div class="row">
        <div class="col-md-7">
          <p>顧客管理ツールの実装では、マークアップのほか、サムネイルのカルーセル表示、FileAPIによるファイル選択機能を実装。</p>
          <p>
            <a href="http://htmlpreview.github.io/?https://github.com/miyai-chihiro/fileupload/blob/master/dist/index.html" target="_blank">fileAPIの実装サンプル</a><br>
            <span class="note">＊デザインはすべてダミー</span>
          </p>
        </div>
        <div class="col-md-5 capture-frame">
          <img src="lobi.png" width="200">
          <img src="lobi-sp.png" width="200">
        </div>
      </div>
    </div>
    <div class="content">
      <h3 class="headline">美容・コスメのコミュニティサービスの開発</h3>
      <div class="row pb20">
        <div class="col-md-7">
          <p>顧客管理ツールの実装では、マークアップのほか、サムネイルのカルーセル表示、FileAPIによるファイル選択機能を実装。</p>
        </div>
        <div class="col-md-5 capture-frame">
          <img src="qa-product.png" height="200">
          <img src="qa-modal.png" height="200">
          <img src="qa-fileapi.png" height="200">
        </div>
      </div>
      <div class="row pb20">
        <div class="col-md-7">
          <p>顧客管理ツールの実装では、マークアップのほか、サムネイルのカルーセル表示、FileAPIによるファイル選択機能を実装。</p>
        </div>
        <div class="col-md-5 capture-frame">
          <img src="specialist.png" height="200">
          <img src="specialist-photo.png" height="200">
          <img src="specialist-pc.png" width="200">
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <p>デザインの組み合わせを比較できるツールの開発</p>
          <a href="hhttps://polymer-sorting.herokuapp.com/" target="_blank">デザイン組み合わせツール</a>
        </div>
        <div class="col-md-5 capture-frame">
          <img src="element-sorting.png" width="400">
        </div>
      </div>
    </div>
  </div>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
